<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNGOgHoKTVkoLKXIWXg2ucA3gWVAfwI1c</string>
	<key>GCM_SENDER_ID</key>
	<string>852446547520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.idea.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>iquote-2ebbe</string>
	<key>STORAGE_BUCKET</key>
	<string>iquote-2ebbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852446547520:ios:55aaa806544809f95299a5</string>
	<key>DATABASE_URL</key>
	<string>https://iquote-2ebbe-default-rtdb.firebaseio.com</string>
</dict>
</plist>